#about {
    padding-left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e1e;
}

.terminal {
    width: 50vw;
    background: #282c34;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    font-family: monospace;
    color: #abb2bf;
    padding-bottom: 20px;
}

.terminal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #3a3f4b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.terminal-header .buttons {
    display: flex;
}

.terminal-header .buttons span {
    width: 12px;
    height: 12px;
    margin: 3px;
    border-radius: 50%;
    display: inline-block;
}

.red { background: #ff5f56; }
.yellow { background: #ffbd2e; }
.green { background: #27c93f; }

.terminal-body {
    padding: 20px;
    font-size: 18px;
}

.command {
    color: #61afef;
}

#github-link {
    color: #98c379;
    text-decoration: none;
    font-weight: bold;
}

#github-link:hover {
    text-decoration: underline;
}